/*------------ common --------------*/
#app{
    height: 100%;
    width:95%;
    margin: 0 auto;
    padding-bottom: 150px;
}

.night .icon {color:#363636}
.warning-icon {
    margin-right: 10px;
}

.fade{
    animation: fadein 0.7s;
    -webkit-animation: fadein 0.7s;
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


/*------------ app-header --------------*/
.app-header{height: 100px;}
.app-header > form { 
    height: 100%;
    width: 52%;
    margin:20px auto 0;
    text-align: center;
    padding-top: 30px;
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
    color: #555555;

}
.app-header > form:focus-within > label{
    visibility: hidden;
}
.app-header > form > label {
    position: absolute;
    left: 25px;
    top: 40px;
    /* color: #fff; */
    color: #242424;
    /* color: #ffffffb5; */
}
.app-header > form > input {
    border: unset;
    border-radius:30px;
    width: 100%;
    padding: 13px 25px;
    /* background-color: #d09d9d69; */
    /* background-color:#d09d9db0; */
    font-size: 1.2em;
    /* color: #555555; */
    /* color: #fff; */
    font-weight: bold;
    /* box-shadow: 5px 5px 5px 5px #d6b7b79e; */
    /* box-shadow: 5px 5px 5px 5px #8e86ad; */
    box-shadow: 5px 5px 5px 5px #7b7b7b54;
    background: #ffffff;
    color: #242424;
}

.night .app-header > form > input{
    box-shadow: 5px 5px 5px 5px #4a4a4a54;
}

.app-header > form > button {
    border: unset;
    background-color: unset;
    position: absolute;
    right: 23px;
    top: 43px;
    color: #555555;

}
.app-header > form > button > .fa-search {
    font-size: 1.5em;
}

/*------------ today-weather --------------*/
.weather-wrap {
    width: 85%;
    margin: 50px auto 0;
}
.today-weather {
    color:#fff;
    position: relative;
    display: flex;
    background-color: #eee3;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px #867b7b2b;
    padding:20px 20px 50px;
    height: 65vh;

}

.today-weather > .today-weather-cont {
    width: 100%;
}

.night .today-weather {
    box-shadow: 5px 5px 5px 5px #6b6b6b2b;
}

.today-weather > .today-weather-cont > .summary-weather {
    width:60%;
    padding: 10px 0;
    padding-left:50px;
}

.today-weather > .today-weather-cont > .summary-weather > h3 {
    font-size: 3em;
    text-shadow:4px 4px 4px #838383a6
}

.night .today-weather > .today-weather-cont >.summary-weather > h3 {
    text-shadow:4px 4px 4px #4848487d;
}

.today-weather > .today-weather-cont > .summary-weather > h3 > i {
    margin-right: 10px;
}
.today-weather > .today-weather-cont > .summary-weather > .date {
    font-size:1.5em;
    padding-left: 8px;
    padding-top: 10px;
}
.today-weather > .today-weather-cont > .summary-weather > .weather-info {
    padding-bottom: 30px;
    position: relative;
    margin: 230px 0 0 10px;
}

.today-weather > .today-weather-cont > .summary-weather > .weather-info > * {
    font-size: 2.5em;
    display: block;
}

.today-weather > .today-weather-cont > .summary-weather > .weather-info > .main-icon {
    font-size: 15em;
    text-shadow: 4px 4px 4px #838383a6;
    display: block;
    position: absolute;
    left: 260px;
    top: -95px;
}
.night .today-weather > .today-weather-cont > .summary-weather > .weather-info > .main-icon {
    text-shadow: 4px 4px 4px #5a5a5aa6;
}

.today-weather > .today-weather-cont > .summary-weather > .weather-info > .temp {
    font-size: 3em;
    font-size: 3em;
    top: 15px;
    left: 290px;
}
.today-weather > .today-weather-cont > .summary-weather > .weather-info > .weather-desc {
    font-size: 2em;
    top: 52px;
    left: 240px;

}
.today-weather > .today-weather-cont > .detail-weather {
    width:40%;
    position: absolute;
    /* bottom:90px; */
    bottom: 70px;
    right:40px;
}
.today-weather > .today-weather-cont > .detail-weather > li {
    float: left;
    width: calc(33.333333% - 10px);
    text-align: center;
    font-size:1.2em;
    margin: 0 5px;
}
.today-weather > .today-weather-cont > .detail-weather > li > i {
    font-size:2em;
    display: block;
    padding-bottom: 10px; 
    text-shadow:4px 4px 4px #838383a6
}
.today-weather > .today-weather-cont > .detail-weather > li > span { display: block;}
.today-weather > .today-weather-cont > .detail-weather > li.m-temp > i {
    font-size: 2em;
}
.today-weather > .today-weather-cont > .detail-weather > li:nth-child(n+4){
    margin-top:50px;
}

.today-weather > .today-weather-cont > .refresh-weather {
    position: absolute;
    width: 100%;
    top: 15px;
    right: 40px;
    text-align: right;
    display: none;
}
.today-weather > .today-weather-cont > .refresh-weather > .refresh-time {
    display: inline-block;
    font-size: 1.15em;
    vertical-align: middle;
    color: #767272;
}
.today-weather > .today-weather-cont > .refresh-weather > .refresh-btn {
    margin-left: 10px;
    border: unset;
    background-color: unset;
    font-size: 3em;
    color: #767272;
    vertical-align: middle;
}


/*------------ weekly-weather --------------*/
.weekly-weather {
    margin-top:100px;
    padding:40px 30px;
    text-align: center;
    background-color: #eee3;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px #867b7b2b;
    height: 45vh;
    position: relative;
}

.night .weekly-weather { 
    box-shadow: 5px 5px 5px 5px #7676762b;
}

.weekly-weather > ul {
    display: flex;
}
.weekly-weather > ul > li{
    width: 12.5%;
    margin: 5px 0;
    color: #fff;
}

.weekly-weather > ul > li > strong {
    display: block;
    font-size: 1.5em;
    color: #242424;
    text-shadow: 4px 4px 4px #8b8b8ba6;
}

.weekly-weather > ul > li > .date {
    font-size: 0.9em;
    color:#242424
}

.weekly-weather > ul > li > .ww-temp {
    margin-top: 20px;
}

.weekly-weather > ul > li > .ww-temp > span {
    display: block;
    color: #4a4a4a;
}
/*
.weekly-weather > ul > li > .ww-temp > .max {color:#3a3a9c}
.weekly-weather > ul > li > .ww-temp > .min {color: #c30000}
*/

.weekly-weather > ul > li > .ww-temp > span > i {
    font-size:1.8em;
    vertical-align: top;
    margin-right: 10px;
    
}

.weekly-weather > ul > li > .ww-icon {
    font-size:5em;
    margin-top:30px;
    display: block;
    text-shadow: 4px 4px 4px #838383a6;
}

.weekly-weather > ul > li > .ww-desc {
    width: 50%;
    margin:30px auto 0;
    color: #fff;
    font-size: 1.2em;
}

/*------------ Toast-popup --------------*/
.toast-popup {
    position: fixed;
    top:-80px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height:60px;
    background-color: #242424;
    color: #fff;
    border-radius: 15px;
    display: flex;
	justify-content: center;
    align-items: center;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);   
    transition: all 750ms ease;
    /* transition: all 750ms ease-out; */
}

.toast-popup > i {
    margin-right: 10px;
}

.toast-popup.show {
    top:30px;
    /* transition: all 500ms ease-in-out; */

}

.warning {
    font-size:1.5em;
    color: #242424;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}