/*------------ common --------------*/
#app{
    /* height: 100%; */
    width:95%;
    margin: 0 auto;
    padding-bottom: 150px;
    /* min-height: 100vh; */
}

.warning-icon {
    margin-right: 10px;
}

.fade{
    animation: fadein 0.7s;
    -webkit-animation: fadein 0.7s;
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


/*------------ app-header --------------*/
.app-header{height: 100px;}

.app-header > form { 
    height: 100%;
    width: 52%;
    margin:20px auto 0;
    text-align: center;
    padding-top: 30px;
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
    color: #555555;
}



.app-header > form > input {
    border: unset;
    border-radius:30px;
    width: 100%;
    padding: 10px 25px 15px;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 5px 5px 5px 5px #7b7b7b54;
    box-shadow: 5px 5px 12px 3px #7f7f7f54;
    background: #ffffff;
    color: #242424;
}

.app-header > form > input::placeholder {
    color: #242424;
}

.app-header > form > input:focus-within::placeholder {
    color: transparent;
}

.night .app-header > form > input{
    box-shadow: 5px 5px 5px 5px #4a4a4a54;
}

.app-header > form > button {
    border: unset;
    background-color: unset;
    position: absolute;
    right: 23px;
    top: 45px;
    color: #555555;

}
.app-header > form > button > .fa-search {
    font-size: 1.5em;
}

/*------------ today-weather --------------*/
.weather-wrap {
    width: 85%;
    margin: 50px auto 0;
}
.today-weather {
    color:#fff;
    background-color: #eee3;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px #867b7b2b;
    padding:30px 40px 40px;
    /* height: 65vh; */
}

.today-weather > .today-weather-cont {
}

.night .today-weather {
    box-shadow: 5px 5px 5px 5px #6b6b6b2b;
}

.today-weather > .today-weather-cont > .cur-location {
    font-size: 2.5em;
    text-shadow:4px 4px 4px #838383a6
}

.night .today-weather > .today-weather-cont > .cur-location {
    text-shadow:4px 4px 4px #4848487d;
}

.today-weather > .today-weather-cont > .cur-location > i {
    margin-right: 10px;
}

.today-weather > .today-weather-cont > .date {
    font-size:1.5em;
    padding-left: 8px;
    padding-top: 10px;
}
.today-weather > .today-weather-cont > .weather-info {
    display: flex;
    margin-top: 50px;
    width: 100%;
}

.today-weather > .today-weather-cont  > .weather-info > .summary-weather {
    width: 60%;
    padding-left:30px;
}

.today-weather > .today-weather-cont  > .weather-info > .summary-weather > .main-icon {
    font-size: 8em;
    text-shadow: 4px 4px 4px #838383a6;
    margin-right: 40px;
    margin-top: 50px;
}

.night .today-weather > .today-weather-cont  > .weather-info > .summary-weather > .main-icon {
    text-shadow: 4px 4px 4px #5a5a5aa6;
}

.today-weather > .today-weather-cont  > .weather-info > .summary-weather > .wther-txt {
    display: inline-block;
}

.today-weather > .today-weather-cont  > .weather-info > .summary-weather > .wther-txt  > strong {
    font-size: 2em;
    display: block;
}

.today-weather > .today-weather-cont > .weather-info > .detail-weather {
    width: 40%;
}

.today-weather > .today-weather-cont > .weather-info > .detail-weather::after {
    content: '';
    clear: both;
    display: block;
}

.today-weather > .today-weather-cont > .weather-info > .detail-weather > li {
    width: 33.333333%;
    float: left;
    text-align: center;
}

.today-weather > .today-weather-cont > .weather-info > .detail-weather > li > i {
    display: block;
    font-size: 1.8em;
}

.today-weather > .today-weather-cont > .weather-info > .detail-weather > li > span { 
    display: block;
    margin: 5px 0;

}

.today-weather > .today-weather-cont > .weather-info > .detail-weather > li:nth-child(n+4){
    margin-top:30px;
}


/*------------ weekly-weather --------------*/
.weekly-weather {
    margin-top:100px;
    padding:40px 30px;
    text-align: center;
    background-color: #eee3;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px #867b7b2b;
    position: relative;
}

.night .weekly-weather { 
    box-shadow: 5px 5px 5px 5px #7676762b;
}

.weekly-weather > .weekly-wthList > .pc-weeklyWth {
    display: flex;
}

.weekly-weather > .weekly-wthList > .pc-weeklyWth > li{
    width: 12.5%;
    margin: 5px 0;
    color: #fff;
}

.weekly-weather > .weekly-wthList > .pc-weeklyWth > li > strong {
    display: block;
}

.weekly-weather > .weekly-wthList > .pc-weeklyWth > li > .date {
    font-size: 0.9em;
    display: none;
}

.weekly-weather > .weekly-wthList > .pc-weeklyWth > li > .ww-temp {
    margin-top: 20px;
}

.weekly-weather > .weekly-wthList > .pc-weeklyWth > li > .ww-temp > span {
    display: block;
}

.weekly-weather > .weekly-wthList > .pc-weeklyWth > li > .ww-temp > span > i {
    font-size:1.8em;
    vertical-align: top;
    margin-right: 10px;
}

.weekly-weather > .weekly-wthList > .pc-weeklyWth > li > .ww-icon {
    font-size:4em;
    margin-top:30px;
    display: block;
    text-shadow: 4px 4px 4px #838383a6;
}

.weekly-weather > .weekly-wthList > .pc-weeklyWth > li > .ww-desc {
    width: 50%;
    margin:30px auto 0;
    color: #fff;
    /* font-size: 1.2em; */
}

/*------------ mobile-weekly-weather --------------*/
.weekly-weather > .weekly-wthList > .mobile-weeklyWth {
    display: none;
    position: relative;
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid lime; */
}

.weekly-weather > .weekly-wthList > .mobile-weeklyWth > ul {
    /* border: 1px solid red; */
    height: 265px;
}

.weekly-weather > .weekly-wthList > .mobile-weeklyWth > ul > li {
    width: 100%;
    color: #fff;
    padding: 20px 0;
    position: absolute;
    /* display: none; */
}

.weekly-weather > .weekly-wthList > .mobile-weeklyWth > ul > li > strong {
    display: block;
    font-size:2em;
    margin-bottom:35px;
}

.weekly-weather > .weekly-wthList > .mobile-weeklyWth > ul > li > .ww-icon {
    font-size:6em;
    margin-right: 20px;
}

.weekly-weather > .weekly-wthList > .mobile-weeklyWth > ul > li > .ww-desc {
    font-size: 1.5em;
    display: inline-block;
}

.weekly-weather > .weekly-wthList > .mobile-weeklyWth > ul > li > .ww-temp {
    margin-top: 30px;
}

.weekly-weather > .weekly-wthList > .mobile-weeklyWth > ul > li > .ww-temp > span + span {
    margin-left:20px;
}

.weekly-weather > .weekly-wthList > .mobile-weeklyWth > ul > li > .ww-temp > span > i {
    font-size: 2em;
    vertical-align: middle;
    margin-right: 10px;
}




.weekly-weather > .weekly-wthList > .mobile-weeklyWth > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} 

.weekly-weather > .weekly-wthList > .mobile-weeklyWth > .prev {
    left: 0px;
}

.weekly-weather > .weekly-wthList > .mobile-weeklyWth > .next {
    right: 0px;
}

.weekly-weather > .weekly-wthList > .mobile-weeklyWth > button > span {
    font-size: 0;
}

.weekly-weather > .weekly-wthList > .mobile-weeklyWth > button > i {
    font-size: 3em;
}

/*------------ warning --------------*/
.warning {
    font-size:1.5em;
    color: #242424;
    height: 40vh;
    text-align: center;
}

.warning > p {
    margin-top: 60px;
}

.weekly-weather > .weekly-wthList > .pc-weeklyWth > li > .ww-icon {
    font-size:4em;
    margin-top:30px;
    display: block;
    text-shadow: 4px 4px 4px #838383a6;
}

/*------------ Toast-popup --------------*/
.toast-popup {
    position: fixed;
    top:-80px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height:60px;
    background-color: #242424;
    color: #fff;
    border-radius: 15px;
    display: flex;
	justify-content: center;
    align-items: center;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);   
    transition: all 750ms ease;
    /* transition: all 750ms ease-out; */
}

.toast-popup > i {
    margin-right: 10px;
}

.toast-popup.show {
    top:30px;
    /* transition: all 500ms ease-in-out; */

}
