@media screen and (max-width:1023px) {
    /* body {background: mediumaquamarine;} */

    .weather-wrap {
        width: 95%;
    }

    .app-header > form {
        width: 80%;
    }

    /* ------------ today-weather ------------- */
    .today-weather > .today-weather-cont > .weather-info > .summary-weather {
        padding-left: 10px;
        
    }

    .today-weather > .today-weather-cont > .weather-info > .summary-weather > .main-icon {
        margin-top: 90px;
        font-size: 6.5em;
        margin-right: 30px;
    }

    .today-weather > .today-weather-cont > .weather-info > .summary-weather > .wther-txt > strong {
        font-size: 1.5em;
    }

    /* ------------ weekly-weather ------------- */
    .weekly-weather > .weekly-wthList > .pc-weeklyWth > li > strong {
        font-size: 0.9em;
    }

    .weekly-weather > .weekly-wthList > .pc-weeklyWth > li > .ww-temp {
        font-size: 0.7em;
    }

    .weekly-weather > .weekly-wthList > .pc-weeklyWth > li > .ww-icon {
        font-size: 3em;
        margin-top: 20px;
    }

    .weekly-weather > .weekly-wthList > .pc-weeklyWth > li > .ww-desc {
        margin: 20px auto 0;
        font-size: 0.5em;
    }
}

@media screen and (max-width:768px) {
    /* body {background: orangered;} */

    #app {
        padding-bottom: 80px;
    }

    .weather-wrap {
        margin: 30px auto 0;
    }

    .app-header > form {
        font-size: 0.8em;
    }

    .app-header > form > input {
        font-size: 0.8em;
        padding: 10px 20px;
    }


    .app-header > form > button {
        top: 37px;
        right: 11px;
    }


    .app-header > form > button > .fa-search {
        font-size: 0.9em;
    }

    /* ------------ today-weather ------------- */
    .today-weather {
        padding:30px;
    }
    .today-weather > .today-weather-cont > .cur-location {
        font-size: 1.5em;
    }

    .today-weather > .today-weather-cont > .date {
        font-size: 1em;
    }

    .today-weather > .today-weather-cont > .weather-info {
        display: block;
        margin-top: 0;
    }

    .today-weather > .today-weather-cont > .weather-info > .summary-weather {
        width: 100%;
    }

    .today-weather > .today-weather-cont > .weather-info > .summary-weather > .main-icon {
        font-size: 5em;
        margin-top: 60px;
    }

    .today-weather > .today-weather-cont > .weather-info > .detail-weather {
        width: 100%;
    }

    .today-weather > .today-weather-cont > .weather-info > .summary-weather {
        text-align: center;
    }

    
    .today-weather > .today-weather-cont > .weather-info > .summary-weather > .wther-txt > strong {
        font-size: 1.2em;
    }

    .today-weather > .today-weather-cont > .weather-info > .detail-weather {
        margin-top: 50px;
    }

    .today-weather > .today-weather-cont > .weather-info > .detail-weather > li {
        font-size: 0.8em;
    }

    

    /* ------------ weekly-weather ------------- */
    .weekly-weather {
        padding: 20px;
        margin-top: 80px;
    }

    .weekly-weather > .weekly-wthList > .pc-weeklyWth {
        /* display: none; */
    }

    .weekly-weather > .weekly-wthList > .mobile-weeklyWth {
        /* display: block; */
    }

    .weekly-weather > .weekly-wthList > .pc-weeklyWth {
        display:block;
        overflow: hidden;
    }

    .weekly-weather > .weekly-wthList > .pc-weeklyWth::after {
        content: '';
        display: block;
        clear: both;
    }

    .weekly-weather > .weekly-wthList > .pc-weeklyWth > li {
        float: left;
        width: 25%;
        margin: 10px 0;
    }

    .weekly-weather > .weekly-wthList > .pc-weeklyWth > li > strong {
        font-size: 0.5em;
    }

    .weekly-weather > .weekly-wthList > .pc-weeklyWth > li > .ww-icon {
        font-size: 2em;
    }

    .weekly-weather > .weekly-wthList > .pc-weeklyWth > li > .ww-desc {
        display: none;
    }

    .weekly-weather > .weekly-wthList > .pc-weeklyWth > li > .ww-temp {
        font-size: 0.5em;
    }

    .weekly-weather > .weekly-wthList > .pc-weeklyWth > li > .ww-temp > span > i {
        font-size: 1em; 
        vertical-align: middle;
    }

}